*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.head{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
  
}
.cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 10px;
    text-align: center;
   
} 
.b1{
    height: 140px;
    width: 280px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

}

