html{
    scroll-behavior: smooth;
}




.hospital {
    background-color: lightblue;
    color: black;
    width: 400px;
    height: 400px;
    text-align: center;
 
}

#emergency {
    color: red;
}