*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
 p{
            width: 700px;
            margin-bottom: 20px;
            text-align: justify;
        }


        p::first-letter{
            font-size: 40px;
            font-weight: bold;
            color: red;
        }

    
        p::first-line{
            color: blue;
            font-weight: bold;
        }

    
      