*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.box{
    height: 450px;
    width: 400px;
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border: 2px solid rgb(228, 56, 113);
}